<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dynamic Web Components Portfolio</title>
</head>
<body>
  <h1>
    Dynamic Web Components Portfolio
  </h1>
  <h2>
    Current Components
  </h2>
  <ul>
    <li><a href="./meet-landing-page/index.html">Meet Landing Page</a></li>
    <li><a href="./testimonial-grid-section/index.html">Testimonial Grid Section</a></li>
    <li><a href="./four-card-features-section/index.html">Four Card Features Section</a></li>
    <li><a href="./product-preview-card-component/index.html">Product Preview Card Component</a></li>
    <li><a href="./recipe-page/index.html">Recipe Page</a></li>
    <li><a href="./social-links-profile/index.html">Social Links Profile</a></li>
    <li><a href="./blog-preview-card/index.html">Blog Preview Card</a></li>
    <li><a href="./QR-code-component/index.html">QR Code Component</li>
  </ul>
</body>
</html>
